.app-container {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:hidden;
}

.agent-header {
    background-color:white; /* Example color */
    width:100%;
    height:15%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.AgentDashboard{
    color:rgb(63,81,181);
}
.main-container {
    display: flex;
    width:100%;
    height:85%;
    flex-direction: 1;
    overflow: hidden;
}
.nav-list {
    color: black;
    font-size: 70%;
    display: flex;
    align-items: self-start;
    margin: 10px 0; /* Add margin to space out nav items */
}
.nav-list:hover{
    width:100%;
    color:rgb(63,81,181);
    border-radius:8px;
    background-color: rgb(193, 209, 216);
}

.icons {
    font-size: 100%;
    margin-right: 10px; /* Add space between icon and text */
}

.agent-navbar {
    width: 15%; /* Adjust width as needed */
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding:20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 75vh; /* Make navbar full height */ /* Fix the navbar position */
}

.nav-container {
    width: 100%; /* Make container full width */
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start; /* Adjust alignment as needed */
    height: 100%;
 /* Add padding to space from the top */
}

.content {
    width:100%;/* Add margin to prevent content overlap */
    height:100%;
    overflow:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.alinks {
    text-decoration: none;
    color: rgb(73, 72, 72);
    text-align: center;
    display: flex;
    align-items: self-start;
    justify-content: center;
    width: 100%;
    margin-right:50px;
    font-weight:bolder;
}
.alinks:hover{
    color:rgb(63,81,181);
}
.spaced{
    margin-right:15px;
    margin-top:15px;
}
.logo{
    width:65px;
    height:65px;
    margin-left:30px;
}
.person{
    width:50px;
    height:50px;
    border-radius:100px;
}
@media (max-width: 768px) {
    .navbar {
        width: 100%; /* Full width on smaller screens */
        height: auto;
        position: relative;
    }

    .main-container {
        flex-direction: column;
    }
}
